html, body, #app-view, #map-canvas, #left-container
{ 
	height: 100%; margin: 0; padding: 0;
}

$dark-blue: #0a081a;
$light-blue: #44cbe4;
$start-green: #67E77F;
$end-red: #E94465;
$sidebar-width: 300;

body {
	background: $dark-blue;
	color: white;
	font-family: Helvetica, Arial;
	font-size: 13px;
}



// Left Container
#left-container {
	margin-right: $sidebar-width+px;
	position: relative;
}

// Sidebar
#sidebar {
	top: 0;
	right: 0;
	height: 100%;
	position: absolute;
	width: $sidebar-width+px;
}

// Trip Info
.trip-info {
	position: absolute;
	top: 20px;
	left: 20px;
	padding: 10px;
	// height: 100px;
	// width: 100px;
	background: rgba(0,0,0,0.8);
}

	.trip-info__block {
		display: inline-block;
		vertical-align: top;
		padding-left: 8px;
		font-size: 12px;
		color: rgba(255,255,255,0.8);
		&:first-child {
			padding-left: 0;
		}
	}
	
	.trip-info__start-time { color: $start-green; font-weight: bold; }
	.trip-info__end-time { color: $end-red; font-weight: bold; }

	.trip-info__label {
		@extend .trip-info__small-text;
		font-weight: bold;
		color: white;
	}

	.trip-info__driver-icon {
		width: 50px;
		height: 50px;
		// border-radius: 10%;
		background-size: cover;
	}
	
	$line-buffer: 10px;
	.trip-info__start-info {
		padding-right: $line-buffer;
		border-right: 1px solid white;
	}

	.trip-info__end-info {
		padding-left: $line-buffer - 2;
	}

	.trip-info__small-text {
		font-size: 0.8em;
		text-transform: uppercase;
	}

// Trip List
#trip-list {
	height: 100%;
	overflow-y: scroll;
}

// Trip List Item
.list-item {
	padding: 10px;
	list-style: none;
	cursor: pointer;
	// transition: background 0.2s ease;

	&:hover {
		background: rgba(255,255,255,0.1);
		// transition: all 0.2s ease;
	}

	&--focused {
		background: $light-blue !important;
	}

	h3 {
		margin: 0;
		margin-bottom: 0.1em;
	}
}

// Normal Pin
.pin {
	height: 4px;
	width: 4px;
	top: 7px;
	left: 7px;
	position: absolute;
	border-radius: 50%;
	opacity: 0.6;

	&--start {
		background: $start-green;
	}
	&--end {
		background: $end-red;
	}
}

// Focused Pin
.focused-pin-wrapper {
	$big: 30;
	$small: 8;
	position: relative;
	top: ($big/2)+px;
	height: $big+px;
	width: $big+px;

	.pin--focused {
		height: $small+px;
		width: $small+px;
		top: ($big - $small)/2+px;
		left: ($big - $small)/2+px;
		opacity: 1;
	}

	.pulse-ring {
		&--start {
			border: 3px solid $start-green;
		}
		&--end {
			border: 3px solid $end-red;
		}
	    -webkit-border-radius: 30px;
	    height: $big+px;
	    width: $big+px;
	    position: absolute;
	    top: 0;
	    left: 0;
	    -webkit-animation: pulsate 1s ease-out;
	    -webkit-animation-iteration-count: infinite; 
	    opacity: 0.0
	}
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}