html, body, #app-view, #map-canvas, #left-container
{ 
	height: 100%; margin: 0; padding: 0;
}

$dark-blue: #0a081a;
$light-blue: #44cbe4;

body {
	background: $dark-blue;
	color: white;
	font-family: Helvetica, Arial;
	font-size: 13px;
}



$sidebar-width: 300;
#left-container {
	margin-right: $sidebar-width+px;
}

#sidebar {
	top: 0;
	right: 0;
	height: 100%;
	position: absolute;
	width: $sidebar-width+px;
}

#trip-list {
	height: 100%;
	overflow-y: scroll;
}

.list-item {
	padding: 10px;
	list-style: none;
	cursor: pointer;
	// transition: background 0.2s ease;

	&:hover {
		background: rgba(255,255,255,0.1);
		// transition: all 0.2s ease;
	}

	&--focused {
		background: $light-blue !important;
	}

	h3 {
		margin: 0;
		margin-bottom: 0.1em;
	}
}

.pin {
	height: 4px;
	width: 4px;
	top: 7px;
	left: 7px;
	position: absolute;
	border-radius: 50%;
	opacity: 0.6;

	&--start {
		background: #67E77F;
	}
	&--end {
		background: #E94465;
	}
}

.focused-pin-wrapper {
	$big: 30;
	$small: 8;
	position: relative;
	top: ($big/2)+px;
	height: $big+px;
	width: $big+px;

	.pin--focused {
		height: $small+px;
		width: $small+px;
		top: ($big - $small)/2+px;
		left: ($big - $small)/2+px;
		opacity: 1;
	}

	.pulse-ring {
		&--start {
			border: 3px solid #67E77F;
		}
		&--end {
			border: 3px solid #E94465;
		}
	    -webkit-border-radius: 30px;
	    height: $big+px;
	    width: $big+px;
	    position: absolute;
	    top: 0;
	    left: 0;
	    -webkit-animation: pulsate 1s ease-out;
	    -webkit-animation-iteration-count: infinite; 
	    opacity: 0.0
	}
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}