<div id="left-container">
	<div id="map-canvas"></div>
	<div class="trip-info"></div>
	<div id="days-bar-chart"></div>
	<div class="chart-button">Chart</div>
</div>

<div id="sidebar">
	<div id="trip-list"></div>
</div>

